@charset "UTF-8";

:root {

  --color-blue: #00a6e3;
  --color-lilac: #e8e8e8;
  --color-electric-blue: #0096db;
  --color-concord: #7d7d7d;
  --color-tangerine: #ffd100;
  --color-dark-pastel-green: #00bd30;
  --color-reno-sand: #a6660f;
  --color-golden-yellow: #ffde00;

  --color-black: #000;
  --color-black-90: #1a1a1a;
  --color-black-80: #333;
  --color-black-70: #4d4d4d;
  --color-black-60: #666;
  --color-black-50: #808080;
  --color-black-40: #999;
  --color-black-30: #b3b3b3;
  --color-black-20: #ccc;
  --color-black-10: #e6e6e6;
  --color-white: #fff;
  
  /* --font-family: 'Nunito', Helvetica, Arial, sans-serif; */
  --font-family: var(--font-family-mono);
  --font-family-display: var(--font-family-mono);
  --font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;
  
  /* Type scale  major second */
  --text-scale-ratio: 1.125;

  --font-size-xxxx-display: 4.624rem;
  --font-size-xxx-display: 4.11rem;
  --font-size-xx-display: 3.653rem;
  --font-size-x-display: 2.887rem;
  --font-size-display: 2.566rem;
  --font-size-xxxx-large: 2.027rem;
  --font-size-xxx-large: 1.802rem;
  --font-size-xx-large: 1.602rem;
  --font-size-x-large: 1.424rem;
  --font-size-large: 1.266rem;
  --font-size-medium: 1.125rem;
  --font-size: 1rem;
  --font-size-small: 0.889rem;
  --font-size-x-small: 0.79rem;

  
  --line-height-text: 1.5;
  --line-height-display: 1.125;
  --line-height-alt: 1.25;
  --line-height: 1;
  
  --border-radius-x-small: .25rem;
  --border-radius-small: .5rem;
  --border-radius-medium: .75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;
  

  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 4px;
  --border: var(--border-width-hairline) solid var(--blue);
  --border-thick-gold: var(--border-width-thick) solid var(--gold);
    
  --max-width: 90rem;
  --min-width: 60rem;
  --spacing-x-small: .25rem;
  --spacing-small: .5rem;
  --spacing: .75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: .125rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  
  --bp-x-small: 18.75em;
  --bp-small: 30em;
  --bp-medium: 48em;
  --bp-large: 64em;
  --bp-x-large: 75em;
  --bp-xx-large: 87.5rem;

  --duration-default: 0.25s;
  --duration-long: 5s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--black-80);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height-text);
  margin: var(--spacing-x-large);
  max-width: var(--max-width);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--color-blue);
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-display);
  line-height: var(--line-height);
}

h2 {
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-display);
}

h3 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-display);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size);
  line-height: var(--line-height-text);
}

h6 {
  font-size: var(--font-size-small);
  line-height: var(--line-height-text);
}

p {
  line-height: var(--line-height-text);
}

hr {
  color: var(--black-10);
}

ul,
ol {
  line-height: var(--line-height-text);
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
   
small {
  font-size: var(--font-size-x-small);
}

code,
pre {
  font-family: var(--font-family-mono);
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.type-sample {
  font-size: var(--font-size-display);
}


.thin {
  font-weight: var(--font-weight-thin);
}

.light {
  font-weight: var(--font-weight-light);
}

.regular {
  font-weight: var(--font-weight);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.xbold {
  font-weight: var(--font-weight-xbold);
}

.black {
  font-weight: var(--font-weight-black);
}

.italic {
  font-style: italic;
}
